@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root
{
    --light-gray-blue:hsl(240, 78%, 98%);
    --light-gray-blue-2:hsl(234, 14%, 74%);
    --gray-blue:hsl(233, 13%, 49%);
    --dark-gray-blue:hsl(232, 13%, 33%);
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
    padding:2rem;
    font-weight:700;
    color:var(--gray-blue);
    background-color:var(--light-gray-blue);
    background: url(images/bg-bottom.svg);
    background-position: bottom -5rem left -1.9rem;
     background-repeat: no-repeat;
}
body::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
body::after{
    top:0;
    background: url(images/bg-top.svg);
    background-position: right top;
    background-repeat: no-repeat;
}
ul{
    list-style:none;
}
h1{
    font-size:2.5rem;
    color:var(--gray-blue);
}
main{
    max-width:100%;
    margin:5rem auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:2rem;
}
/* select plan */
.selectPlan{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1rem 0; 
}
.toggle {
    visibility: hidden;
    width:0;
}
.label{
    background-color:hsl(236, 72%, 79%);
    border-radius:50px;
    width:7rem;
    height:3rem;
    cursor:pointer;
    margin:0 15px 0;
    display:inline-block;
    position:relative;
}
.toggle:checked + .label{
    background-color:hsl(237, 63%, 64%);
}
.ball{
    background:#fff;
    height:38px;
    width:38px;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:5px;
    animation: slideOff 0.3s linear forwards;
}
.toggle:checked + .label .ball{
    animation: slideOn 0.3s linear forwards;
}
.toggle:checked ~ .month{
    color:hsl(237, 63%, 64%);
}
/* card section */
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:2rem;
}
.planning__card{
    width:23rem;
    max-width:100%;
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
    box-shadow: 0 5px 8px rgb(0 0 0 / 9%);
    background-color:white;
    border-radius:10px;
    animation:grow var(--duration) both;
}
.planning__card:first-child{
    --duration:1.2s;
}
.planning__card:nth-child(even){
    background-image:linear-gradient(to right,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    --duration:1.2s;
  
    animation:grow var(--duration) both;
    animation-delay:1.5s;
}
.planning__card:last-child{
    --duration:1.2s;
    animation-delay:3s;
}
.planning__card .plan__name{
    font-size:1.2rem;
    color:var(--gray-blue);
}
h2 {
   color:var(--dark-gray-blue);
   font-size:1.8rem;
   display:flex;
   align-items:center;
   justify-content:Center;
   gap:0.5rem;
}
h2 span{
    font-size:3rem;  
}

.professional .plan__name,
.professional h2,
.professional .plan-details 
 {
    color:#fff;
}
.plan-details{
    display:flex;
    flex-direction:column;
}
.plan-details li{
  padding:1rem 0;
  border-top:0.05rem solid var(--light-gray-blue-2);
}
.btn{
    display:inline-block;
    padding:1rem 2rem;
    color:var(--light-gray-blue);
    background-image:linear-gradient(to right,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    border:none;
    border-radius:5px;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing:1.5px;
    font-weigt:800;
    font-size:inherit;
    font-family:inherit;
    transition:all 0.9s ease;
}
.planning__card:nth-child(even) .btn{
    background-image:none;
    background-color:#fff;
    color:hsl(236, 72%, 79%);
    transition:all 0.9s ease;
}

.btn:hover{
    background-image:linear-gradient(180deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    color:#fff;
}
.planning__card:nth-child(even) .btn:hover{
    background-image:linear-gradient(180deg,hsl(233, 13%, 49%) , hsl(232, 13%, 33%));
    color:#fff;
}
.btn:active{
    transform:scale(1.1);
}
.attribution{
    padding:1rem;
   color:hsl(237, 63%, 64%);
   font-size:1.2rem;
}
.attribution a{
    text-decoration:none;
    color:inherit;
    
}
/* media queries */
@media(min-width:750px){
    body{
        padding:0.8rem;
    }
    .container{
        flex-direction:row;
        gap:1rem;
    }   
}
@media(min-width:950px){
    .container{
        flex-wrap:nowrap;
        gap:0;
    }
    .planning__card:first-child{
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }
    .planning__card:last-child{
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    }
    .planning__card:nth-child(even){
        padding:3rem 2rem;
    }
}
/*  slidon and off animation*/
@keyframes slideOn {
    0% {
      transform: translateX(0) scale(1);
    }
    50% {
      transform: translateX(20px) scale(1.2);
    }
    100% {
      transform: translateX(65px) scale(1);
    }
  }
  
@keyframes slideOff {
    0% {
      transform: translateX(65px) scale(1);
    }
    50% {
      transform: translateX(20px) scale(1.2);
    }
    100% {
      transform: translateX(0) scale(1);
    }
}
@keyframes grow{
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform: scale(100%);
    }
}